

.pc { display:block; }
.mobile {display:none; }

.Header-1{
    position: relative;
    z-index: 3000;
    top:0;
    width:100%;
    height:52px;
}
.container{
   position: absolute;
   z-index: 10;
   top:0;
   right:0;
   left:0;
   display: block;
   height:100%;
   background-color: #ffbbcf;
}
.banner{
    position: relative;
    text-align: center;
    width:300px;
    height:100%;
    float:left;
    top:10px;
}
.hidden{
    font-weight: 700;
    color:#000;
    font-size: 20px;
    font-size:0;
    line-height: 0;
    visibility: hidden;
    overflow: hidden;
    padding:0;

}
.hiddenimg{
    height:32px;
}
.hiddenlogo{
    position: absolute;
    top:0;
    left:0;
    height:35px;
    margin-left:5px;
}
.Header-2{
    position: fixed;
    z-index: 3000;
    right:0;
    left:0;
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding:26px 18px 0 20px;
    top:30px;
}

.appTitle{
    width:150px;
    height:32px;
    transition-delay: 1s;
    transition-duration: .5s;
}
.HeaderMainLink{
    display:block;
    height:100%;
    background-image: url(/0322SAVE-main/images/netmarble_negative.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.netlogo{
    width:100px;
    height:90px;
}
.wrapper{
    width:50px;
    height: 50px;

}
#mailNavigationBtn{
  display: block;
  width:100%;
  height:100%;
  background-image: url(https://ncm-static.nexon.com/_next/static/media/icon-menu-hamburger-black.313a90d2.svg);
  background-repeat: no-repeat;
  background-position: 50%;
}
button{
    padding:0;
    cursor:pointer;
    border:0;
    background: transparent;
}
.navigation{
    list-style:none;
    display: flex;
    align-items: center;
}

.btn{
    width:34px;
    height:34px;
    background-color: black;
    border:none;
    display: block;
} 
.navigationContainer{
   position: fixed;
   z-index: 30;
   right:24px;
   bottom:100px;
}  
.NavName{
    font-size: 12px;
    line-height: 28px;
    position: absolute;
    right:40px;
    visibility: hidden;
    height: 28px;
    padding:0 10px;
    white-space: nowrap;
    color:#fff;
    border:1px solid hsla(0,0%,47%,.22);
    border-radius: 3px;
    background-color: #191919;
}
#btn1{
    background-image: url(https://ncm-static.nexon.com/_next/static/media/home.153d909d.svg);
    background-repeat: no-repeat;
    background-position: 50%;
}
#btn2{
    background-image: url(https://ncm-static.nexon.com/_next/static/media/highlight.2faa8d0f.svg);
    background-repeat: no-repeat;
    background-position: 50%;
}
#btn3{
    background-image: url(https://ncm-static.nexon.com/_next/static/media/play-route.42ea3d30.svg);
    background-repeat: no-repeat;
    background-position: 50%;
}
#btn4{
    background-image: url(https://ncm-static.nexon.com/_next/static/media/invite-you.fdee23ec.svg);
    background-repeat: no-repeat;
    background-position: 50%;
}
.headernavigation{
    position: fixed;
    z-index: 3000;
    top:0;
    right:0;
    bottom:0;
    left:0;
    display:none;
    overflow: auto;
    justify-content: space-between;
    margin-top:52px;
    background-color: #282728;
    opacity: 0;
}
.headermainlist{
    display: flex;
    flex-direction: column;
}
.headernavigationcontainer{
    margin-left:70px;
}
.headermainmenu{
    display: flex;
    color:#fff;
}
.headermainmenuwrapper1{
    margin-right: 18px;
}
.headermenuwrapper{
    display: block;
    overflow: hidden;
    cursor: pointer;
}
.headermainsup{
    font-size: 20px;
    display: block;
    letter-spacing: -1px;
    color:#fff;
}
.headermaintitle{
    display: block;
    overflow: hidden;
    margin-top: 6px;
    font-size: 50px;
}
.headersublist{
position: relative;
display: flex;
flex-direction: column;  
margin-top:115px;
}
.headermainlist li{
    margin-top: 70px;
}
.headersubtitle{
    font-size: 27px;
    display: flex;
    align-items: center;
    color:#fff;
}
.closebtn{
    position: absolute;
    top:47px;
    right: 47px;
}
.header-iconclosebtn{
    display: inline-block;
    width:25px;
    height:25px;
    background-image: url(https://ncm-static.nexon.com/_next/static/media/icon-menu-close.a9aee1c0.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

/*----------- Section1 시작 -------------------*/
.MainsectionContainer{
    display:flex;
    overflow: hidden;
    align-items: center;
    box-sizing: border-box;
    width:100%;
    height:100%;
    padding:15.7% 0;
    background-color: #191818;
    position: relative;
}
.mainsvg{
display: inline-block;
width:1000px;
position: relative;
top:0;
left:350px;
}
.MainsectionContainer::before{
    position: fixed;
    top:-100%;
    left:-50%;
    width:300%;
    height:300%;
    content:"";
}
.sectionhome{
    width:100%;
    height:100vh;
    position: relative;
}
.Mainsectiion{
    position: relative;
    width:100%;
}

.pinkbin{
    position: absolute;
    top:80%;
    left:30%;
}
.pinkbin img{
    width:100px;
    height:100px;
}
.iconDown{
    position: absolute;
    bottom:200px;
    left:50%;
    display: inline-block;
    width:34px;
    height:47px;
    transform:translate3d(-50%,0,0);
    background-image: url(https://ncm-static.nexon.com/_next/static/media/icon-arrow-down.4195d3c7.png);
    background-size: cover;
    animation-name: bouncingArrowDown;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}

@keyframes bouncingArrowDown {
    0% {
      transform: translate3d(-50%, 20%, 0);
    }
    50% {
      transform: translate3d(-50%, -10%, 0);
    }
    100% {
      transform: translate3d(-50%, 20%, 0);
    }
  }
/*------------------Section2 시작 ----------------------------------------------*/
#highlight{
    width:100%;
}
.sectionList{
    overflow: hidden;
    border-top: 1px solid #aaaaab
}
.collection1{
    font-weight: 400;
    position: relative;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    width:100%;
    cursor:pointer;
    text-align: center;
    white-space: nowrap;
    color:#282728;
    border-bottom:1px solid #aaaaab;
    font-size: 48px;
    height:105px
}
.innercollection1{
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}
.text1{
    font-weight: 400;
    letter-spacing: -.88px;
}
.sup1{
    font-size:12px;
    margin-left:8px;
    letter-spacing: -.24px;
}
.highlightHover{
    position: absolute;
    top:0;
    left:0;
    overflow: hidden;
    justify-content: left;
    align-items: center;
    width:100%;
    height:100%;  
    background-color: aqua; 
    opacity: 1;
}
.highlightHover p{
    display: inline-block;
    font-size: 30px;
    margin-top: 35px;
}
.highlightHover img{
    width:150px;
    height:70px;
    border-radius: 10px 10px 10px 10px;
    margin-top: 20px;
}
.illustLogo img{
   width:200px;
   height:200px;
   margin:0 42%;
}
/*------------------------------- Section3 시작   ---------------------------------------------*/
#playlist{
    position: relative;
    background-image: url(https://ncm-static.nexon.com/_next/static/media/intro-background-web.a051d03c.svg);
    background-size: cover;
    height:auto;
    overflow-y: auto;
}
.playlist-anchor{
    top:0;
    width:100%;
    height:100%;
}
.playlistwrapper{
    display: flex;
    top:52px;
    width:100%;
    height:100%;


}
.playlist-container{
    position: absolute;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    width:100%;
    height:100%;
    margin-top: 100px;
}
#playlist .playlist-title{
    position: relative;
}
#playlist .playlisttitle1{
    width:800px;
    margin-left:100px;
}
#playlist .playlisttitle2{
   line-height: 1.69;
   position: absolute;
   right:0;
   top:160px;
   letter-spacing: -.61px;
   color:#d8d8d8;
   transform:translateY(-17px);
}
#playlist .playliststicker-container{
    display: flex;
    width:fit-content;
    position: relative;
    left:300px; 
}
.playlist-image{
    margin-top:300px;
    margin-left:20px;
}
#playlist .playliststicker-wrapper{
    position: relative;
    width:fit-content;
    height: fit-content;
    padding:1px;
    pointer-events: none;
}
#playlist .playlist-scrollArea{
    position: relative;
    margin:600px
}
.playliststicker-wrapper .img1{
    transform: rotate(30deg);
    position: absolute;
    top:0;
    left:0;
}
.playliststicker-wrapper .img2{
    transform: rotate(-30deg);
    position: absolute;
    top:300px;
    left:200px;   
}
.playliststicker-wrapper .img3{
    transform: rotate(30deg);
    position: absolute;
    top:0;
    left:400px;
}
.playliststicker-wrapper .img4{
    transform: rotate(-30deg);
    position: absolute;
    top:300px;
    left:700px;
}
.playliststicker-wrapper .img5{
    transform: rotate(30deg);
    position: absolute;
    top:0;
    left:900px;
}
.playliststicker-wrapper .img6{
    transform: rotate(-30deg);
    position: absolute;
    top:300px;
    left:1200px;
}
.playlist-buttonborder{
    width:300px;
    height:100px;
    background-image:url(https://ncm-static.nexon.com/_next/static/media/button-playlist-route.c91ac529.svg);
    background-repeat: no-repeat;
    position: absolute;
    bottom:165px;
    left:700px;
}
.playlist-buttontext{
    font-weight: 600;
    font-size: 18px;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-100%,-80%);
}

/*--------------   Section4 시작        ---------------------------------------*/

#inviteYou{
    position: relative;
    padding-top: 8.854px;
    padding-bottom:78.1px;
    background-color: #232423;
}
.inviteWrapper{
  right:66.4px;
  display: flex;
  position: absolute;
}
.invite-anchor{
    width:100%;
    height:100%;
}
.inviteBackgroundText{
    top:0;
    right:0;
    left:0;
    text-align: right;
    padding-top:127px
}
.inviteContainer{
    position: relative;
    display: flex;
}
.inviteFadein{
    font-weight: 500;
    line-height: 1.75;
    position: relative;
    vertical-align: top;
    letter-spacing: -.72px;
    color:#fff;
}
.IconInvite{
    width:44.6vw;
}
.inviteCursor{
    display: flex;
    align-items: flex-end;
}
.cursor{
    width:7.97vw;
    margin-bottom: 1.61px;
}
.RollingPoster{
    display: flex;
    justify-content: space-between;
    position: relative;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin: 60% auto 0;
}
.poster1{
    position: relative;
    left:160px;
    margin-top: -1000px;
}
.poster1 a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
}
.poster1 a span{
    font-size:12px;
    margin-top: 15px;
    color:#fff;
    line-height: 1.5;
}
.poster2{
    position: relative;
    left:84px;
    margin-top:-800px;
}
.poster2 a{
    display: flex;
    text-decoration: none;
}
.poster2 a span{
    font-size:12px;
    margin-left: 20px;
    color:#fff;
}
.poster3{
   position: absolute;
   bottom:-20px;
   left:50%;
   transform: translateX(-50%);
}
.poster3 span{
    line-height:1.5;
    display: inline-block;
    color:#fff;
    font-size:13px;
    margin-top:10px;
    left:-10px;

}
.poster4{
position: relative;
margin-top: -900px;
margin-right:50px;
}
.poster4 a{
    display: flex;
    flex-direction: column;
}
.poster4 a span{
    display: inline-block;
    font-size: 15px;
    line-height: 1.47;
    color:#fff;

}
/*--------------    Footer 시작                 ------------------------------------------------------------------*/
#footer{
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 0 100px 30px;
    color:#d8d8d8;
    background-color: #232423;
}

.morethingText{
    font-size:40px;
    display: block;
    font-style: normal;
    line-height: 1.37;
    letter-spacing: -2.33px;
}
.morething-icon{
    margin-top:27px;
    width:21.3px;
}
.footer-interestingList{
    font-size: 14px;
    font-weight: 700;
    line-height: 1.4;
    padding-bottom: 8px;
    letter-spacing: -.42px;
}
.footer-interestingItem{
    margin-top:14px;
}
.inter{
    padding-bottom:6px;
    color:#d8d8d8;
    position: relative;
    display: inline-block;
    text-decoration: none;
}
.footer-interestingSocial{
    display: flex;
    align-items:flex-end;
}
.footer-interestingSocialList{
    overflow: hidden;
}
.inter2{
    display: inline-block;
}
.logo{
    display:block;
    width:50px;
    height:50px;
}
.footer-information{
    line-height:1.55;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-right:75px;
}
.footer-information p{
    font-size:11px;
}
.footer-information p:nth-child(2){
    letter-spacing: -.9px;
}
.footer-address{
    margin-top:14px;
    font-size:11px;
    font-style:normal;
}
.footer-copyright{
    margin-top: 14px;
    font-size:11px;
    font-style:normal;
}
/*------------------------------------------------- 반응형 CSS ----------------------------------------------*/
@media(max-width:599px){
    .banner{
        width:300px;
    }
    .hiddenimg{
    position: relative;
       margin-left:10px;
       bottom:18px;
    }
    .hiddenlogo{
        display: none;
    }
    .banner:nth-child(3){
        opacity: 0;
    }
}
@media(min-width:600px) and (max-width:700px){
    .hiddenlogo{
        display: none;
    }
    .banner{
        display: flex;
        justify-content: space-between;
        margin-left: 23px;
    }
}
@media (max-width:767px){
    .netmarble{
        width:100%;
    }
.banner:nth-child(4){
    opacity: 0;
}
.banner:nth-child(5){
    opacity: 0;
}
.banner:nth-child(6){
    opacity: 0;
}
.banner{
    width:200px;
}
#highlight{
    padding-bottom: 134px;
    padding-top: 100px;
}
.logoContainer{
    margin-bottom: 28px;
}
.collection1{
    font-size: 32px;
    height:70px;
}
.illustLogo img{
    width:150px;
    height:150px;
}
.text1{
    font-size: 25px;
}
.sup1{
    font-size: 8px;
}
.Header-2{
    padding-top: 30px;
}
.Header-1{
    position: fixed;
}
.MainsectionContainer{
    align-items: normal;
    justify-content: center;
    padding: 52px 6.94vw 0 06.11vw
}
.Mainsectiion{
    margin-top: 200px;
    margin-bottom: 800px;
    height:fit-content
}
.mainsvg{
    width:400px;
    left:40px;
}
.pinkbin{
position: absolute;
top:75%;
left:20%;
}
.pinkbin img{
    width:70px;
    height:70px;
}
.iconDown{
    position: absolute;
    bottom:10%;
    left:50%;
}
.playlist-container{
    justify-content: center;
    padding-top: 80px;
}
.inviteBackgroundText{
    padding-top: 80px;
}
.RollingPoster{
    width:100vw;
    padding: 0 5.55vw;
}
.poster1{
    align-self: flex-start;
    order:2;
    margin-top: 108px;
}
.poster2{
    align-self: flex-end;
    order:3;
    margin-top: 103px;
}
.poster4{
    align-self: flex-end;
    order:1;
}
.poster3{
    order:4;
    margin-top: 120px;
}
.poster3 img{
    width:400px;
    height:450px
}
.poster3 span{
    font-size: 12px;
    margin-top: 16px;
}
#footer{
    flex-direction: column;
}
.footer-interesting{
    flex-direction: column;
    margin-bottom: 34px;
}
.footer-interestingList{
    padding-bottom: 31px;
}
.footer-interestingSocial{
    margin-left: -14px;
}
.footer-information{
    display: flex;
}
#playlist .playlisttitle1{
    width:400px;
    max-width:474px;
    margin-left: 0;
}
#playlist .playlisttitle2{
    display: flex;
    justify-content: flex-end;
    margin-top: 100px;
    margin-right: -2.78vw;
    font-size:12px;
}
.playlist-routecontainer{
    position: absolute;
    width:300px;
    top:-50px;  
    left:270px;
}
.playlist-buttonborder{
    position: relative;
    top:580px;
    left:85px;
    width:300px;
    height:100px;
}
#playlist .playliststicker-container{
    display: block;
    width:100%;
}
.playliststicker-wrapper:first-child{
    top:0;
    right:172px;
}
.playliststicker-wrapper:nth-child(2){
    display: flex;
    justify-content: flex-end;
    top:-65px;
    left:-150px;
}
.playliststicker-wrapper:nth-child(3){
    right:555px;
    top:500px;
}
#playlist{
    overflow-y: auto;

}
.playliststicker-wrapper{
    width:100px;
    height:100px;
}
.playlist-stickerWrapper{
    width:100vw;
    padding:50px 0;
}
.playlistwrapper{
    margin-bottom: 800px;
}
#playlist .playlist-scrollArea{
    left:-1000px;
}
.playliststicker-wrapper:nth-child(4){
    display: flex;
    justify-content: flex-end;
    top:500px;
    left:-650px;
}
.playliststicker-wrapper:nth-child(5){
    top:1000px;
    left:-1050px;
}
.playliststicker-wrapper:nth-child(6){
    display: flex;
    justify-content: flex-end;
    top:1000px;
    left:-1200px;
}
.inviteWrapper{
    width:77.7vw;
    right:50px;
}
.inviteFadein{
    margin-top:24px;
    font-size: 9px;
}
#inviteYou{
height:1000px;
}
.highlightHover img{
    width:100px;
    height:50px;
    margin-top: 12px;
}
.highlightHover p{
    font-size: 20px;
    margin-top: 25px;
}
.container{
    width:100%;
}
}